/* Estrutura do site
------------------------------------ */
body {
	background: #f4f2ec url(../img/fundo.png) repeat-x;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
	width: 1080px;
	margin: 0 auto;
}

a:link, a:active, a:visited {
	color: #af670a;
	text-decoration: none;
}

a:hover {
	color: #227115;
}

/* Logo 
------------------------------------ */
#logo a {
	width: 248px;
	height: 21px;
	text-indent:  -9999px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}

#logo h1 {
	float: left;
}

/* Barra de navegação 
------------------------------------ */
header {
	padding: 15px 0;
	height: 55px;
}

nav ul {
	list-style: none;
	margin: 20px;
	float: right;
}

nav ul li {
	float: left;
}

nav ul li a:link {
	display: block;
	margin-right: 25px;
	padding-bottom: 3px;
	text-transform: uppercase;
}

nav ul li a:hover {
	border-bottom: 1px solid #535858;
}

/* Conteúdo do site
----------------------------------------- */

main{
	width: 710px;
	float: left;
	background-color: #227115;
}

/* Lateral
----------------------------------------- */

aside{
	width: 350px;
	float: right;
	background-color: #ebe7dd;
	padding-bottom: 30px;
}

section#visita {
	background-color: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
	width: 85%;
	float: right;
}

aside #depoimento{
	float: right;
}

h4 {
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

/* Galeria
----------------------------------------- */

aside section#galeria{
	padding: 0 27px;
	float: left;
}

aside section#galeria a{
	display: block;
	float: left;
	padding: 19px 16px 19px 16px;
	margin: 10px 0 0 20px;
	background: url(../img/fundo-foto.png) no-repeat;
}

/* Formulário
----------------------------------------- */

fieldset {
	border: none;
}

legend{
	display: none;
}

input {
	height: 20px;
	width: 80px;
	background-color: #fff;
	border: none;
	font-size: 1em;
}

input.campo{
	border: 1px #ada184 solid;
}

input.botao{
	background-color: #9b9271;
	color: #fff;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
	cursor: pointer;
}
